<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-ajax/core-ajax.html">

<polymer-element name="account-list">
  <template>
  	<style>
	:host {
      display: block;
      position: relative;
      background-color: white;
      padding: 20px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .account-header {
      margin-bottom: 10px;
    }
    </style>
	<div layout vertical center>
		<template repeat="{{a in accounts}}">
<!-- 			<img src="profile-picture.png"> -->
		  	<h2>{{a.email}}</h2>
		  	<h3>{{a.role}}</h3>
		</template>
	</div>
  </template>
  <script src="account-list.js"></script>
</polymer-element>