<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../components/core-ajax/core-ajax.html">

<polymer-element name="my-element" noscript>
  <template>
	<script>
    Polymer('my-element', {
      ready: function() {
        //...
      }
    });
    </script>
   <span>I'm <b>my-element</b>. This is my Shadow DOM.</span>
    <core-ajax url="account" auto response="{{resp}}"></core-ajax>
    <textarea value="{{resp}}"></textarea>
  </template>
</polymer-element>