<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign In</title>
	<link rel="icon" type="img/ico" href="resources/img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

    <link href="resources/css/signin.css" rel="stylesheet">
    <link href="resources/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="resources/jquery-2.1.1.min.js"></script>
    <script src="resources/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Logueo</h2>
        <input type="text   " class="form-control" placeholder="usuario" name="usuario" required autofocus>
        <input type="password" class="form-control" placeholder="Contraseña" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
      </form>
    </div> 
  </body>
</html>